/SebastianPC_2011-10-28.sha.txt
/Notebook Home Sebastian.sha.txt
/DVD1Test.sha.txt
/Vista2009.sha.txt
/BilderTimo.sha.txt
/backupSebi2005.sha.txt
/Backup 2007 Sebastian.sha.txt
/ToBackupVista2011.sha.txt
/true.sha.txt
/joined.txt
/Test.sha.txt
/Test.sha.txt.doppelte.txt
/joined.txt.doppelte.SIZE.txt
/joined.txt.doppelte.RELPATH.txt
/joined.txt.sorted.PATH.txt
/ToBackupVista2011.sha.txt.marked.txt
/joined.txt.sorted.HASH.txt
/joined.txt.doppelte.FILENAME.txt
/joined.txt.sorted.DATE.txt
/joined.txt.doppelte.HASH.txt
/joined.txt.doppelte.PATH.txt
/joined.txt.sorted.RELPATH.txt
/joined.txt.sorted.FILENAME.txt
/joined.txt.sorted.SIZE.txt
/joined.txt.doppelte.DATE.txt
/Test.sha.txt.sorted.txt
